@charset"utf-8";

/*画面全体のレイアウト*/
body {
    background: url(background/siroHaikei.jpg) center;
    /*背景画像指定*/
    background-repeat: no-repeat;
    /*画像複製阻止*/
    background-size: cover;
    /*画面領域*/
    text-align: center;
    /*中央配置*/
    touch-action: manipulation;
    /*画面二回タップで拡大を阻止*/
}

/*スクロール停止*/
/* html,
body {
    overflow: hidden
} */

/*スコア、ライフの文字*/
.field {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'HGP行書体';
    display: inline-block;
}

/*問題の文字*/
.fieldc {
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: 'HGP行書体';
    display: inline-block;
}

/*問題の文字*/
.fieldx {
    color: black;
    font-size: 100px;
    font-weight: bold;
    font-family: 'HGP行書体';
    text-align: center;
}

/*正解不正解の表示*/
.h1 {
    font-size: 30px;
    font-family: 'HGP行書体';
}

/*最初のカウントダウン*/
#countdown {
    color: black;
    font-size: 80px;
    font-family: 'HGP行書体';
}

#onoff {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

#white {
    opacity: 0;
    text-align: center
}

#red {
    opacity: 0;
    text-align: center
}

#redbutton {
    display: inline-block;
    background-color: red;
    text-align: center;
    font-weight: bold;
    opacity: 0.7;
    font-size: 25px;
    padding: 10px 40px;
    margin-left: 20px;
}

#whitebutton {
    display: inline-block;
    background-color: #ffff;
    text-align: center;
    font-weight: bold;
    opacity: 0.7;
    font-size: 25px;
    padding: 10px 40px;
    margin-right: 20px;
}

#looseover-Area {
    text-align: center;
}

/*lefthand.png*/
.white {
    width: 50%;
    /*幅*/
    height: 50%;
    /*高さ*/
}

/*righthand.png*/
.red {
    width: 50%;
    /*幅*/
    height: 50%;
    /*高さ*/
}

.mm {
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid #333;
    /* transform: perspective(1000px) rotateX(20deg); */
    box-shadow: 0px 10px 0px #333;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    font-size: 26px;
}

.mm:before {
    position: absolute;
    top: 100%;
    left: 50px;
    transform: skew(-25deg);
    height: 30px;
    width: 15px;
    border-right: 13px solid #333;
    background-color: #fff;
    content: "";
}

/*スマホの画面*/
/* @mediaルールを使ったレスポンシブなCSSの記述例 */
@media screen and (max-width: 1000px) {

    /* 画面の横幅が1000px以下のときに適用されるCSSはすべてここに記述する */
    body {
        background: url(background/siroHaikei.jpg) center;
        /*背景画像指定*/
        background-repeat: no-repeat;
        /*画像複製阻止*/
        background-size: cover;
        /*画面領域*/
        height: 100vh;
        /*高さ設定*/
        text-align: center;
        /*中央配置*/
        touch-action: manipulation;
        /*画面二回タップで拡大を阻止*/
    }

    /*スクロール停止*/
    html,
    body {
        overflow: hidden
    }

    img {
        margin-top: 30px;
    }

    /*スコア、ライフの文字*/
    .field {
        color: red;
        font-size: 20px;
        font-weight: bold;
        font-family: 'HGP行書体';
        display: inline-block;
    }

    /*問題の文字*/
    .fieldc {
        color: black;
        font-weight: bold;
        font-size: 40px;
        font-family: 'HGP行書体';
        display: inline-block;
    }

    /*問題の文字*/
    .fieldx {
        color: black;
        font-weight: bold;
        font-size: 70px;
        font-family: 'HGP行書体';
        text-align: center;
        background-repeat: no-repeat;
    }

    /*正解不正解の表示*/
    h1 {
        text-align:  center; 
        padding-right: 200px;
        font-size: 70px;
        font-family: 'HGP行書体';
        /* font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif; /* 書体変換 */
    }

    */

    /*最初のカウントダウン*/
    #countdown {
        color: goldenrod;
        font-size: 100px;
        font-family: 'HGP行書体';
    }

    #onoff {
        text-align: center;
    }

    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
    }

    #white {
        opacity: 0;
        text-align: center
    }

    #red {
        opacity: 0;
        text-align: center
    }

    #redbutton {
        display: inline-block;
        background-color: red;
        text-align: center;
        font-weight: bold;
        opacity: 0.7;
        font-size: 90px;
        padding: 10px 40px;
        margin-left: 20px;
    }

    #whitebutton {
        display: inline-block;
        background-color: #ffff;
        text-align: center;
        font-weight: bold;
        opacity: 0.7;
        font-size: 90px;
        padding: 10px 40px;
        margin-right: 20px;
    }

    #looseover-Area {
        text-align: center;
    }

    /*lefthand.png*/
    .white {
        margin-right: 80%;
        width: 200%;
        /*幅*/
        height: 200%;
        /*高さ*/
    }

    /*righthand.png*/
    .red {
        margin-right: 80%;
        width: 200%;
        /*幅*/
        height: 200%;
        /*高さ*/
    }

    .mm {
        position: relative;
        padding: 1rem;
        border-radius: 10px;
        border: 3px solid #333;
        /* transform: perspective(1000px) rotateX(20deg); */
        box-shadow: 0px 10px 0px #333;
        background-color: #fff;
        color: #333;
        font-weight: bold;
        font-size: 26px;
    }

    .mm:before {
        position: absolute;
        top: 100%;
        left: 50px;
        transform: skew(-25deg);
        height: 30px;
        width: 15px;
        border-right: 13px solid #333;
        background-color: #fff;
        content: "";
    }
    .center {
    text-align: center;
    }
}