@charset"utf-8";

/*画面全体のレイアウト*/
body {
    background: url(background/Haikei.jpg) center;
    /*背景画像指定*/
    background-repeat: no-repeat;
    /*画像複製阻止*/
    background-size: cover;
    /*画面領域*/
    height: 100vh;
    /*高さ設定*/
    text-align: center;
    /*中央配置*/
    touch-action: manipulation;
    /*画面二回タップで拡大を阻止*/
}

/*title.png*/
img {
    height: 150px;
}

/*スクロール停止*/
html,
body {
    overflow: hidden
}

/*ラジオボタン*/
.r {
    display: none;
    box-shadow: 0 3px 0 #66CCCC;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

label {
    border-radius: 20px;
    padding: 20px 20px;
    font-size: 20px;
    font-family: 'HGP行書体';
    color: #fff;
    background-color: #66CCCC;
    box-shadow: 0 3px 0 #66CCCC;
}

.r:checked+label {
    box-shadow: none;
    background-color: #f08080;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

/* 文字の色付け １*/
h1 {
    margin-bottom: 50px;
    font-size: 30px;
    color: red;
    font-family: 'HGP行書体';
}

/* 文字の色付け 2*/
h2 {
    margin-top: 50px;
    font-size: 30px;
    color: red;
    font-family: 'HGP行書体';
}

/* 文字の色付け 3*/
h3 {
    font-size: 30px;
    color: red;
    font-family: 'HGP行書体';
}

/* 一人で遊ぶボタン */
.soro {
    font-size: 20px;
    font-family: 'HGP行書体';
    padding: 20px 20px;
    /*幅、高さ*/
    border-radius: 20px;
    /*角を丸くする*/
    border: none;
    /* デフォルトで入るリンクの下線を消す */
    color: #fff;
    background-color: #f08080;
    box-shadow: 0 3px 0 #f08080;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.soro:hover {
    background-color: #f08080;
    box-shadow: 0 3px 0 #f08080;
}

/*ボタンアクション*/
.soro:active {
    box-shadow: none;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

/* 部屋に入る・作るボタンレイアウト */
.room {
    font-size: 20px;
    font-family: 'HGP行書体';
    padding: 20px 20px;
    /*幅、高さ*/
    border-radius: 20px;
    /*角を丸くする*/
    border: none;
    /* デフォルトで入るリンクの下線を消す */
    color: #fff;
    background-color: #f08080;
    box-shadow: 0 3px 0 #f08080;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.room:hover {
    background-color: #f08080;
    box-shadow: 0 3px 0 #f08080;
}

/*ボタンアクション*/
.room:active {
    box-shadow: none;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

/* @mediaルールを使ったレスポンシブなCSSの記述例 */
@media screen and (max-width: 1000px) {
    /* 画面の横幅が1000px以下のときに適用されるCSSはすべてここに記述する */

    /*画面全体のレイアウト*/
    body {
        background: url(background/Haikei.jpg) center;
        /*背景画像指定*/
        background-repeat: no-repeat;
        /*画像複製阻止*/
        background-size: cover;
        /*画面領域*/
        text-align: center;
        /*中央配置*/
        touch-action: manipulation;
        /*画面二回タップで拡大を阻止*/
    }

    /*スクロール停止*/
    html,
    body {
        overflow: hidden
    }

    /*title.png*/
    img {
        height: 450px;
    }

    /*ラジオボタンデザイン*/
    .r {
        display: none;
    }

    label {
        border-radius: 20px;
        background-color: #66CCCC;
        padding: 40px 40px;
        font-size: 50px;
        font-family: 'HGP行書体';
        color: #fff;
    }

    .r:checked+label {
        background-color: #f08080;
    }

    /* 文字の色付け １*/
    h1 {
        margin-bottom: 100px;
        font-size: 80px;
        font-family: 'HGP行書体';
        /*書体*/
        color: red;
    }

    /* 文字の色付け ２*/
    h2 {
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 80px;
        font-family: 'HGP行書体';
        color: red;
    }

    /* 文字の色付け ３*/
    h3 {
        margin-top: 5%;
        margin-bottom: 40px;
        font-size: 80px;
        font-family: 'HGP行書体';
        color: red;
    }

    /* 一人で遊ぶボタン */
    .soro {
        font-size: 50px;
        font-family: 'HGP行書体';
        padding: 40px 40px;
        border-radius: 20px;
        border: none;
        /* デフォルトで入るリンクの下線を消す*/
        color: #fff;
        background-color: #f08080;
        box-shadow: 0 3px 0 #f08080;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    }

    .soro:hover {
        background-color: #f08080;
        box-shadow: 0 3px 0 #f08080;
    }

    /*ボタンアクション*/
    .soro:active {
        box-shadow: none;
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    /* 部屋に入る・作るボタンレイアウト */
    .room {
        font-size: 50px;
        font-family: 'HGP行書体';
        padding: 40px 40px;
        border-radius: 20px;
        border: none;
        /* デフォルトで入るリンクの下線を消す */
        color: #fff;
        background-color: #f08080;
        box-shadow: 0 3px 0 #f08080;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    }

    .room:hover {
        background-color: #f08080;
        box-shadow: 0 3px 0 #f08080;
    }

    /*ボタンアクション*/
    .room:active {
        box-shadow: none;
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

}
