@charset"utf-8";

body{
    background: url(background/siroHaikei.jpg) center; /*背景画像指定*/
    background-repeat: no-repeat; /*画像複製阻止*/
    background-size: cover; /*画面領域*/
    text-align: center; /*中央配置*/
    touch-action: manipulation; /*画面二回タップで拡大を阻止*/
}

/*スクロール停止*/
html,body {
    overflow: hidden
}

.field {
    color: red;
    font-size: 50px;
    font-family: 'HGP行書体';
}

.fieldx {
    color: black;
    font-size: 100px;
    font-weight: bold;
    font-family: 'HGP行書体';
    text-align: center;
}

.h1 {
    font-size: 40px;
    font-family: 'HGP行書体';
}

.countdown{
    color: red;
    text-align: center;
}

#onoff{
    text-align: center;
}

ul{
    list-style-type: none;
}
li{
    display: inline-block;
}

#white{
    opacity: 0;
    text-align: center
    
}
#red{
    opacity: 0;
    text-align: center
}

#redbutton {
    display: inline-block;
    background-color: red;
    text-align: center;
    font-weight:bold;
    opacity: 0.7;
    font-size:25px;
    padding: 10px 40px;
    margin-left: 20px;
}

#whitebutton {
    display: inline-block;
    background-color: #ffff;
    text-align: center;
    font-weight:bold;
    opacity: 0.7;
    font-size:25px;
    padding: 10px 40px;
    margin-right: 20px;
}

#looseover-Area{
    text-align: center;
}

/* @mediaルールを使ったレスポンシブなCSSの記述例 */
@media screen and (max-width: 1000px) {
/* 画面の横幅が1000px以下のときに適用されるCSSはすべてここに記述する */
body{
    background: url(background/siroHaikei.jpg) center; /*背景画像指定*/
    background-repeat: no-repeat; /*画像複製阻止*/
    background-size: cover; /*画面領域*/
    height: 100vh; /*高さ設定*/
    text-align: center; /*中央配置*/
    touch-action: manipulation; /*画面二回タップで拡大を阻止*/
}

/*スクロール停止*/
html,body {
    overflow: hidden
}

.field {
    color: red;
    font-size: 70px;
    font-family: 'HGP行書体';
}

.fieldx {
    color: black;
    font-weight: bold;
    margin-top: 25%;
    font-size: 200px;
    font-family: 'HGP行書体';
    text-align: center;
}

h1 {
    font-size: 70px;
    font-family: 'HGP行書体';
}

#countdown{
    color: red;
    font-size: 200px;
    font-family: 'HGP行書体';
}

#onoff{
    text-align: center;
}

ul{
    list-style-type: none;
}
li{
    display: inline-block;
}

#white{
    opacity: 0;
    text-align: center
}
#red{
    opacity: 0;
    text-align: center
}

#redbutton {
    display: inline-block;
    background-color: red;
    text-align: center;
    font-weight:bold;
    opacity: 0.7;
    font-size:90px;
    padding: 10px 40px;
    margin-left: 20px;
}

#whitebutton {
    display: inline-block;
    background-color: #ffff;
    text-align: center;
    font-weight:bold;
    opacity: 0.7;
    font-size:90px;
    padding: 10px 40px;
    margin-right: 20px;
}

#looseover-Area{
    text-align: center;
}

.white {
    width: 200%;
    height:200%;
}
.red {
    width: 200%;
    height: 200%;
}

}