@charset"utf-8";

/*画面全体のレイアウト*/
body {
    background: url(background/Haikei.jpg) center;
    /*背景画像指定*/
    background-repeat: no-repeat;
    /*画像複製阻止*/
    background-size: cover;
    /*画面領域*/
    height: 100vh;
    /*高さ設定*/
    text-align: center;
    /*中央配置*/
    touch-action: manipulation;
}

html,
body {
    overflow: hidden
}

/* 名前を教えてのテキスト */
.name {
    margin-top: -40px;
    font-size: 30px;
    font-family: 'HGP行書体';
    text-align: center;
    color: red;
}

/* 愛言葉をきめてねのテキスト */
h1 {
    font-size: 30px;
    font-family: 'HGP行書体';
    text-align: center;
    color: red;
}

/*名前テキストボックスのデザイン*/
/*https://copypet.jp/692/*/
.cp_iptxt {
    margin: auto;
    text-align: center;
    position: relative;
}

.cp_iptxt input[type='text'] {
    background: cadetblue;
    font: 50px/50px sans-serif;
    box-sizing: border-box;
    width: 400px;
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
}

.ef input[type='text']:focus {
    border: 10px solid blueviolet;
    border-radius: 15px;
    outline: none;
}

input::placeholder {
    color: #fff;
    font-family: 'HGP行書体';
    font-size: 30px;
    text-align: center;
}

/*透明なパスワード欄の画像のレイアウト*/
.usepath {
    width: 400px;
    /*ボタンの幅*/
    border-radius: 15px;
    /*ボタンの角削除*/
    margin: auto;
    /*中央配置*/
    background: cadetblue;
    text-align: center;
}

/*透明なパスワード欄の画像設定*/
.usepath img {
    margin-top: 10px;
    width: 60px;
    height: auto;
}

/*干支のパスワード画像レイアウト*/
.path {
    overflow: hidden;
    text-align: center;
}

/*干支のパスワード画像設定*/
.path img {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    width: 50px;
    height: auto;
    text-align: center;
}

.path1 img {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    width: 50px;
    height: auto;
    text-align: center;
}

.path2 img {
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    width: 50px;
    height: auto;
    text-align: center;
}

/*パスのdeleteボタンレレイアウト*/
.delete {
    margin-bottom: 20px;
    font-size: 30px;
    background: #ff8181;
    color: #FFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
    transition: .5s;
}

.delete:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

/*部屋を作るボタンデザイン*/
.roommake {
    font-size: 20px;
    font-family: 'HGP行書体';
    padding: 20px 20px;
    color: #fff;
    background-color: tomato;
    border-radius: 20px;
    border: none;
    /* デフォルトで入るリンクの下線を消す */
    box-shadow: 0 3px 0 tomato;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.roommake:hover {
    background-color: tomato;
    box-shadow: 0 3px 0 tomato;
}

/*ボタンアクション*/
.roommake:active {
    box-shadow: none;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

/*前の画面に画面遷移ボタンデザイン*/
.back {
    margin-left: -80%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background: mediumpurple;
    color: #FFF;
    width: 60px;
    height: 60px;
    line-height: 50px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px mediumpurple;
    transition: .4s;
}

.back:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

/* @mediaルールを使ったレスポンシブなCSSの記述例 */
@media screen and (max-width: 1000px) {
    /* 画面の横幅が480px以下のときに適用されるCSSはすべてここに記述する */

    /*画面全体のレイアウト*/
    body {
        background: url(background/Haikei.jpg) center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        touch-action: manipulation;
    }

    html,
    body {
        overflow: hidden
    }

    /* 名前を教えてのテキスト */
    .name {
        margin-top: 30px;
        margin-bottom: 4%;
        font-weight: 900px;
        font-family: 'HGP行書体';
        font-size: 90px;
        text-align: center;
        color: red;
    }

    /* 愛言葉をきめてねのテキスト */
    h1 {
        margin-top: 60px;
        margin-bottom: 3%;
        font-weight: 900px;
        font-family: 'HGP行書体';
        font-size: 90px;
        text-align: center;
        color: red;
    }

    /*名前テキストボックスのデザイン*/
    /*https://copypet.jp/692/*/
    .cp_iptxt {
        margin: auto;
        text-align: center;
        position: relative;
    }

    .cp_iptxt input[type='text'] {
        background: cadetblue;
        font: 50px/50px sans-serif;
        box-sizing: border-box;
        width: 700px;
        padding: 30px 30px;
        border-radius: 15px;
        border: none;
    }

    .ef input[type='text']:focus {
        border: 20px solid blueviolet;
        border-radius: 15px;
        outline: none;
    }

    input::placeholder {
        color: #fff;
        font-size: 60px;
        font-style: italic;
    }

    /*透明なパスワード欄の画像のレイアウト*/
    .usepath {
        padding-bottom: 10px;
        width: 70%;
        /*ボタンの幅*/
        border-radius: 15px;
        /*ボタンの角削除*/
        margin: auto;
        /*中央配置*/
        background: cadetblue;
        text-align: center;
    }

    /*透明なパスワード欄の画像設定*/
    .usepath img {
        margin-top: 50px;
        width: 100px;
        height: auto;
    }

    /*干支のパスワード画像レイアウト*/
    .path {
        overflow: hidden;
        text-align: center;
    }

    /*干支のパスワード画像設定*/
    .path img {
        margin-top: 60px;
        margin-left: 25px;
        margin-right: 25px;
        width: 12%;
        height: auto;
        text-align: center;
    }

    .path1 img {
        margin-top: 60px;
        margin-left: 25px;
        margin-right: 25px;
        width: 12%;
        height: auto;
        text-align: center;
    }

    .path2 img {
        margin-top: 60px;
        margin-left: 25px;
        margin-right: 25px;
        width: 12%;
        height: auto;
        text-align: center;
    }

    /*パスのdeleteボタンレレイアウト*/
    .delete {
        font-size: 100px;
        background: #ff8181;
        color: #FFF;
        width: 130px;
        height: 130px;
        border-radius: 100%;
        border: none;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
        transition: .5s;
    }

    .delete:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        border-bottom: none;
    }

    /*部屋を作るボタンデザイン*/
    .roommake {
        margin-top: 60px;
        font-size: 60px;
        font-family: 'HGP行書体';
        padding: 40px 40px;
        color: #fff;
        background-color: tomato;
        border-radius: 20px;
        border: none;
        /* デフォルトで入るリンクの下線を消す */
        box-shadow: 0 3px 0 tomato;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    }

    .roommake:hover {
        background-color: tomato;
        box-shadow: 0 3px 0 tomato;
    }

    /*ボタンアクション*/
    .roommake:active {
        box-shadow: none;
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    /*前の画面に画面遷移ボタンデザイン*/
    .back {
        margin-left: -80%;
        font-size: 80px;
        text-decoration: none;
        background: mediumpurple;
        color: #FFF;
        width: 120px;
        height: 120px;
        line-height: 120px;
        border-radius: 30px;
        text-align: center;
        overflow: hidden;
        border: none;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px mediumpurple;
        transition: .4s;
    }

    .back:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        border-bottom: none;
    }

}