@charset"utf-8";
    /*画面全体のレイアウト*/
    body{
        background: url(background/888.jpg) center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        text-align: center;
    }
    
    h1{
        margin-top: 60%;
        margin-bottom: 6%;
        font-size: 50px;
        text-align: center;
        color: coral;
        font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif; /* 書体変換 */
    }
    .player p {
        display: inline-block;
        font-weight:bold;
        margin-top: 10%;
        font-size: 40px;
        color: cadetblue;
    }
    .player p1 {
        display: inline-block;
        font-weight:bold;
        font-size: 40px;
        color: #da3c41;
    }
    .player p2 {
        display: inline-block;
        font-weight:bold;
        font-size: 40px;
        color: #FF0461;
    }
    .player p3 {
        display: inline-block;
        font-weight:bold;
        font-size: 40px;
        color: #FFFF00	;
    }
    .player p4 {
        display: inline-block;
        font-weight:bold;
        font-size: 40px;
        color: #005FFF;
    }
    .name{
        margin-top: 50px;
        font-size: 36px;
        text-align: center;
        color:cadetblue;
    }
    /*名前テキストボックスのデザイン*/
    /*https://copypet.jp/692/*/
    .cp_iptxt {
        margin: auto;
        position: relative;
        width: 500px;
    }
    .cp_iptxt input[type='text'] {
        background: beige;
        font: 36px/50px sans-serif;
        box-sizing: border-box;
        width: 100%;
        padding: 0.3em;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #000000;
        border: 1px solid #1b2538;
        border-radius: 4px;
    }
    .ef input[type='text']:focus {
        border: 1px solid #da3c41;
        outline: none;
        box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
    }
    input::placeholder {
        color: rgb(239, 232, 153);
        font-weight: bold;
        font-size: 1.2em;
        font-style: italic;
    }

    /*２～４人ボタンレイアウト*/
    .hukusuStart{
        display: block;
        margin: auto;
        background-color: rgb(249, 106, 90); /* 背景色 */
        color: #fff; /* 文字色 */
        padding: 10px 20px; /* 上下の余白、左右の余白 */
        border: none; /* デフォルトで入るリンクの下線を消す */
        border-radius: 10px; /* 角を丸くする */
        cursor: pointer;
    }
    /*透明なパスワード欄の画像のレイアウト*/
    .usepath{
        width: 550px;
        margin-top: 10px;
        margin-bottom: 30px;
        border-radius: 15px;
        margin: auto;
        background: cadetblue;
        text-align: center;
    }

    /*透明なパスワード欄の画像のレイアウト*/
    .usepath{
        width: 500px; /*幅*/
        margin-bottom: 30px;
        border-radius: 15px;
        margin: auto;
        background: cadetblue;
        text-align: center;
    }

    /*透明なパスワード欄の画像設定*/
    .usepath img{
        margin-left:25px;
        margin-right:25px;
        width: 70px;
        height: auto;
    }

    /*干支のパスワード画像レイアウト*/
    .path{
        overflow: hidden;
        text-align: center;
    }
    /*干支のパスワード画像設定*/
    .path img{
        margin-left: 25px;
        margin-right: 25px;
        width: 70px;
        height: auto;
    }
    /*パスのdeleteボタンレレイアウト*/
    .delete {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 260px;
        margin: auto;
        padding: 40px 30px;
        margin-top: 10%;
        font-weight: bold;
        border: 2px solid #FF1493;
        background: #FF1493;
        color: #fff;
        border-radius: 15px;
        transition: 0.5s;
        font-size: 28px;
        animation: move_a 2s infinite;
    }
    @keyframes move_a {
        0% {transform: translate(0px, 10px);}
        5% {transform: translate(0px, -10px);}
        10% {transform: translate(0px, 10px);}
        15% {transform: translate(0px, -10px);}
        20% {transform: translate(0px, 10px);}
        25% {transform: translate(0px, -10px);}
        30% {transform: translate(0px, 0px);}
    }
    .delete:hover {
        color: #FF1493;
        background: #fff;
    }

    .back {
        margin-top: 20%;
        margin-left: 80%;
        font-size: 20px;
        text-decoration: none;
        background: #ff8181;
        color: #FFF;
        width: 120px;
        height: 120px;
        line-height: 120px;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        overflow: hidden;
        border: none;/* デフォルトで入るリンクの下線を消す */
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #bd6565;
        transition: .4s;
    }
    .back:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        border-bottom: none;
    }

    /*1人で遊ぶボタンレイアウト*/
    .soroStart{
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: rgb(249, 106, 90); /* 背景色 */
        color: #fff; /* 文字色 */
        padding: 10px 20px; /* 上下の余白、左右の余白 */
        border: none; /* デフォルトで入るリンクの下線を消す */
        border-radius: 10px; /* 角を丸くする */
        cursor: pointer;
    }