@charset"utf-8";

/*画面全体のレイアウト*/
body {
    background: url(background/Haikei.jpg) center; /*背景画像指定*/
    background-repeat: no-repeat; /*画像複製阻止*/
    background-size: cover; /*画面領域*/
    height: 100vh; /*高さ設定*/
    touch-action: manipulation; /*画面二回タップで拡大を阻止*/
}

/* html,
body {
    overflow: hidden
} */

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'HGP行書体';
    text-align: center;
    color: red;
}

.player p {
    display: inline-block;
    font-size: 40px;
    font-family: 'HGP行書体';
    font-weight: bold;
    color: black;
}

.player p1 {
    display: inline-block;
    font-size: 40px;
    font-family: 'HGP行書体';
    font-weight: bold;
    color: #f08080;
}

.player p2 {
    display: inline-block;
    font-size: 40px;
    font-family: 'HGP行書体';
    font-weight: bold;
    color: #f08080;
}

.player p3 {
    display: inline-block;
    font-size: 40px;
    font-family: 'HGP行書体';
    font-weight: bold;
    color: #f08080;
}

.player p4 {
    display: inline-block;
    font-size: 40px;
    font-family: 'HGP行書体';
    font-weight: bold;
    color: #f08080;
}

/*名前テキストボックスのデザイン*/
.cp_iptxt {
    margin: auto;
    position: relative;
    width: 500px;
}

.cp_iptxt input[type='text'] {
    background: beige;
    font: 36px/50px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #000000;
    border: 1px solid #1b2538;
    border-radius: 4px;
}

/*透明なパスワード欄の画像のレイアウト*/
.usepath {
    width: 400px;
    border-radius: 15px;
    margin: auto;
    background: cadetblue;
    text-align: center;
}

/*透明なパスワード欄の画像設定*/
.usepath img {
    margin-top: 10px;
    width: 60px;
    height: auto;
}

/*干支のパスワード画像レイアウト*/
.path {
    overflow: hidden;
    text-align: center;
}


/*干支のパスワード画像設定*/
.path img {
    margin-left: 25px;
    margin-right: 25px;
    width: 70px;
    height: auto;
}

/*パスのdeleteボタンレレイアウト*/
.Start {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: auto;
    margin-left: 45%;
    padding: 20px 20px;
    border: 2px solid #f08080;
    background: #f08080;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
    font-size: 20px;
    font-family: 'HGP行書体';
    animation: move_a 2s infinite;
}

@keyframes move_a {
    0% {
        transform: translate(0px, 10px);
    }

    5% {
        transform: translate(0px, -10px);
    }

    10% {
        transform: translate(0px, 10px);
    }

    15% {
        transform: translate(0px, -10px);
    }

    20% {
        transform: translate(0px, 10px);
    }

    25% {
        transform: translate(0px, -10px);
    }

    30% {
        transform: translate(0px, 0px);
    }
}

.Start:hover {
    color: #f08080;
    background: #fff;
}

/*前の画面に画面遷移ボタンデザイン*/
.back {
    margin-left: 100px;
    font-size: 30px;
    text-decoration: none;
    background: #f08080;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    border-radius: 100px;
    text-align: center;
    overflow: hidden;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #f08080;
    transition: .4s;
}

.back:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

.icon1 {
    padding-left: 6%;
    background: url(icon/rdesign_6510.png) no-repeat left center;
    padding-right: 30px;
    background-size: 45px;
}

.icon2 {
    padding-left: 6%;
    background: url(icon/rdesign_09830.png) no-repeat left center;
    padding-right: 30px;
    background-size: 45px;
}

.icon3 {
    padding-left: 6%;
    background: url(icon/rdesign_13677.png) no-repeat left center;
    padding-right: 30px;
    background-size: 45px;
}

.icon4 {
    padding-left: 6%;
    background: url(icon/rdesign_14831s2.png) no-repeat left center;
    padding-right: 30px;
    background-size: 45px;
}

/* @mediaルールを使ったレスポンシブなCSSの記述例 */
@media screen and (max-width: 1000px) {
    /* 画面の横幅が480px以下のときに適用されるCSSはすべてここに記述する */

    /*画面全体のレイアウト*/
    body {
    background: url(background/Haikei.jpg) center; /*背景画像指定*/
    background-repeat: no-repeat; /*画像複製阻止*/
    background-size: cover; /*画面領域*/
    height: 100vh; /*高さ設定*/
    touch-action: manipulation; /*画面二回タップで拡大を阻止*/
    }

    /*スクロール停止*/
    html,
    body {
        overflow: hidden
    }

    /* 文字の色付け １*/
    h1 {
        margin-top: 15%;
        margin-bottom: 6%;
        font-size: 70px;
        font-family: 'HGP行書体';
        text-align: center;
        color: red;
    }

    /* 文字の色付け １*/
    .player p {
        margin-top: 100px;
        display: inline-block;
        font-size: 70px;
        font-family: 'HGP行書体';
        font-weight: bold;
        color: black;
    }

    /* 文字の色付け １*/
    .player p1 {
        display: inline-block;
        font-size: 70px;
        font-family: 'HGP行書体';
        font-weight: bold;
        color: #f08080;
    }

    /* 文字の色付け 2*/
    .player p2 {
        display: inline-block;
        font-size: 70px;
        font-family: 'HGP行書体';
        font-weight: bold;
        color: #f08080;
    }

    /* 文字の色付け 3*/
    .player p3 {
        display: inline-block;
        font-size: 70px;
        font-family: 'HGP行書体';
        font-weight: bold;
        color: #f08080;
    }

    /* 文字の色付け 4*/
    .player p4 {
        display: inline-block;
        font-size: 70px;
        font-family: 'HGP行書体';
        font-weight: bold;
        color: #f08080;
    }

    /*透明なパスワード欄の画像のレイアウト*/
    .usepath {
        padding-bottom: 10px;
        width: 70%;
        border-radius: 15px;
        margin: auto;
        background: cadetblue;
        text-align: center;
    }

    /*透明なパスワード欄の画像設定*/
    .usepath img {
        margin-top: 50px;
        width: 100px;
        height: auto;
    }

    /*干支のパスワード画像レイアウト*/
    .path {
        overflow: hidden;
        text-align: center;
    }


    /*干支のパスワード画像設定*/
    .path img {
        margin-left: 25px;
        margin-right: 25px;
        width: 70px;
        height: auto;
    }

    /*パスのStartボタンレレイアウト*/
    .Start {
        margin-top: 50px;
        display: block;
        text-align: center;
        text-decoration: none;
        margin-left: 35%;
        padding: 40px 40px;
        border: 2px solid #f08080;
        background: #f08080;
        color: #fff;
        border-radius: 30px;
        transition: 0.5s;
        font-size: 60px;
        font-family: 'HGP行書体';
        animation: move_a 2s infinite;
    }

    /*ボタンのアクション*/
    @keyframes move_a {
        0% {
            transform: translate(0px, 10px);
        }

        5% {
            transform: translate(0px, -10px);
        }

        10% {
            transform: translate(0px, 10px);
        }

        15% {
            transform: translate(0px, -10px);
        }

        20% {
            transform: translate(0px, 10px);
        }

        25% {
            transform: translate(0px, -10px);
        }

        30% {
            transform: translate(0px, 0px);
        }
    }

    .Start:hover {
        color: #f08080;
        background: #fff;
    }

    /*前の画面に画面遷移ボタンデザイン*/
    .back {
        margin-left: 5%;
        font-size: 60px;
        text-decoration: none;
        background: #f08080;
        color: #FFF;
        padding-left: 20px;
        padding-right: 20px;
        width: 120px;
        height: 120px;
        line-height: 120px;
        border-radius: 100px;
        text-align: center;
        overflow: hidden;
        border: none;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #f08080;
        transition: .4s;
    }

    .back:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        border-bottom: none;
    }

    /*文字のアイコンデザイン 1*/
    .icon1 {
        padding-left: 8%;
        background: url(icon/rdesign_6510.png) no-repeat left center;
        padding-right: 30px;
        background-size: 100px;
    }

    /*文字のアイコンデザイン 2*/
    .icon2 {
        padding-left: 8%;
        background: url(icon/rdesign_09830.png) no-repeat left center;
        padding-right: 30px;
        background-size: 100px;
    }

    /*文字のアイコンデザイン 3*/
    .icon3 {
        padding-left: 8%;
        background: url(icon/rdesign_13677.png) no-repeat left center;
        padding-right: 30px;
        background-size: 100px;
    }

    /*文字のアイコンデザイン 4*/
    .icon4 {
        padding-left: 8%;
        background: url(icon/rdesign_14831s2.png) no-repeat left center;
        padding-right: 30px;
        background-size: 100px;
    }

}